Auto Login
Hello {{display_name}},

click the following link to login to {{site_name}}: {{site_base_url}}/{{login_link}}
This link is valid until {{valid_until.strftime('%Y-%m-%d %H:%M')}}.
Once logged in, you can change your password.

Best,
Your Admins